*{
    margin:0;
    margin-left:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
    
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: orangered;
}
p{
    color: orangered;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col1{
    flex-basis: 50%;
    min-width: 300px;
}
.col1 img{
    max-width: 90%;
    padding: 50 px 0;
}
.col1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 15px 0;
    padding-left: 0%;
}
.btn{
    display: inline-block;
    background-color: orangered;
    color:white;
    padding: 8px 30px;
    margin:30 px 0;
    border-radius: 50px;
    
}
.btn:hover{
    background-color: orange;
}
 
#content2{
     
    float:left;
    margin-right: 2%;
}
#content1{
    width: 35%;
    height: 10px;
    float:left;
    margin-right: 2%;
}